# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Vite
dist/
.vite/
.cache/
temp/

# Environments
.env
.env.local
.env.*.local

# Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*

# Yarn
.yarn/*
.pnp.*
.yarnrc.yml

# ESLint
.eslintcache

# TypeScript
*.tsbuildinfo

# Tailwind CSS
tailwind.config.js
tailwind.config.cjs
tailwind.config.ts

# Coverage reports
coverage/

# Test output
*.out
reports/

# Local preview tools like Vercel
.vercel/
.output/
now.json
